<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Compra</title>
    <link rel="stylesheet" href="../../styles/stylesval.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <header class="fondoPagos"></header>
    <div class="barraProgreso">
        <div class="inactivo">Datos</div>
        <div class="inactivo">Entrega</div>
        <div class="inactivo">Pago</div>
        <div class="activo">Orden Envío</div>
    </div>

    <h1 class="titlemetodopago">Orden de Envío</h1>
    <div class="order-summary">
        <h2>Detalles de la Orden</h2>
        <p class="mensaje">Guarde esta imagen como prueba de su compra para mostrarla al recibir su producto. </p>
        <div id="client-info"></div>
        <div id="order-items"></div>
        <div id="order-summary">
            <div class="item"><strong>Subtotal: </strong><span id="subtotal"></span></div>
            <div class="item"><strong>Costo de entrega: </strong><span id="delivery-cost"></span></div>
            <div class="item"><strong>Total a pagar: </strong><span id="total"></span></div>
        </div>
        <button class="enviarForm" id="finalizarPago" type="submit">Finalizar pago</button>
    </div>
    <script src="../../scripts/ordenCompra.js"></script>
</body>
</html>
