<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/yul.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div class="container" id="register-section">
        <h2>Registro</h2>
        <input type="text" id="reg-username" placeholder="Usuario" class="form-control my-2" required>
        <input type="password" id="reg-password" placeholder="Contraseña" class="form-control my-2" required>
        <button class="btn btn-primary" onclick="register()">Registrarse</button>
        <p>Ya tienes cuenta? <a href="./iniciarSesion.html">Inicia sesión</a></p>
    </div>

    <script src="../scripts/register.js"></script>
    <script src="../scripts/constants.js"></script>
</body>
</html>
