<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body class="mp">
    <div class="container" id="user-section" >
        <h2>Bienvenido, <span id="user-name"></span></h2>
        <button class="btn btn-secondary" onclick="logout()">Cerrar sesión</button>
        <h3>Mis Productos</h3>
        <div id="user-products" class="row"></div>
        <a href="./agregarProductos.html">Ir al formulario</a>
    </div>
    <script src="../scripts/constants.js"></script>
    <script src="../scripts/producto.js"></script>
</body>
</html>