/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fb9529;
}

/* Barra de navegación */
.barra-navegacion {
    position: relative;
}

.cerrar-sesion-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ff9b37;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cerrar-sesion-btn:hover {
    background-color: #d87f27;
}

/* Estilos de los botones */
.button {
    width: 100%;
    padding: 10px;
    background-color: #ff9b37;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.button:hover {
    background-color: #d87f27;
}

/* Contenedor de productos */
.product-item {
    background-color: #f6632e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-item h4, .product-item p {
    color: white;
}

/* Botón de regreso */
.boton-regresar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #ff9b37;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.boton-regresar:hover {
    background-color: #d87f27;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 8vw; /* Espacio entre las columnas */
    padding: 2px;
   background-image: url(../assets/images/backgroundFooter.png);
   background-size: cover; 
   height: 20vw;
   background-repeat: no-repeat; 
    color: white; /* Color de texto */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
