.modal-content {
    border-radius: 1vw;
    background:white; 
    color: rgb(81, 49, 26); 
}

.modal-header {
    background-color:#feb47b; ; /* Fondo claro para el encabezado */
    color: white; 
    border-bottom: 2px solid #feb47b; 
    font-size: 1.2vw;
    padding: 15px 20px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
    font-size: 1.1vw;
    color: #503a2c; /* Color oscuro para el cuerpo */
}

.modal-footer {
    background-color: #feb47b; /* Fondo footer*/
    border-top: 2px solid #feb47b; 
}

.modal-footer button {
    font-size: 1vw;
    border-radius: 1vw;
    padding: 0.8vw 2vw;
}

/* Estilo para los botones del modal */
.btn-secondary {
    background-color:white ;
    color: #ff7e5f;
    border: none;
    text-decoration:underline;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px orange;
}

.btn-secondary:hover {
    background-color: #ff7e5f; 
    color: #503a2c;
}
.btn-try{
    background-color:white;
    color: #ff7e5f;
    border:none ;
    text-decoration:underline;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px orange;
}
.btn-try:hover {
    background-color: #ff7e5f; 
    color: #503a2c;
}
.btn-danger{
    background-color:#ff7e5f;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px #feb47b;
}
.btn-danger:hover {
    background-color: #feb47b;
    color: black;
}
.btn-warning{
    background-color:#ff7e5f;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px #feb47b;
}
.btn-warning:hover {
    background-color: #feb47b;
    color: black;
} 
.btn-primary {
    background: #ff7e5f;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    padding: 0.8vw 2vw;
    border-radius: 1vw;
    font-size: 1vw;
    box-shadow: 0px 4px 6px white;
    text-decoration: underline;
}
    


.btn-primary:hover {
    background:orange;
    color: #503a2c;
}

#cart-items {
    font-size: 1.1vw;
    color: #503a2c; /* Color de texto para los productos del carrito */
    padding-bottom: 1.5vw;
}

#total-container {
    text-align: right;
    font-weight: bold;
    font-size: 1.3vw;
    color: #2c3e50; 
}

/* Estilo para el ícono del carrito en la barra de navegación */
.cart-icon {
    cursor: pointer;
    color: #ff7e5f;
    font-size: 2vw;
}

.cart-icon:hover {
    color: #feb47b;
}

/* Estilo para los elementos dentro del carrito */
.product-line {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.product-name {
    flex: 2;
    font-weight: bold;
}

.product-price {
    flex: 1;
    text-align: right;
    color: rgb(2, 128, 0);
}

.product-quantity {
    flex: 1;
    text-align: center;
    color: gray;
}

.subtotal-line {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: #2c3e50;
}

.delivery-line {
    font-size: 1vw;
    text-align: right;
    margin-top: 10px;
    color: #7f8c8d;
}

.clear-cart-btn {
    background-color: orange;
    border: none;
    padding: 0.8vw 2vw;
    color: #503a2c;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
}

.clear-cart-btn:hover {
    background-color: orange; 
}
