html, body {
    margin: 0; 
    height: auto; 
    width: auto; 
}

#BackgroundPrincipal {
    background-image: url(../assets/images/Backgroundinicio.png);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 42vw;
    display: flex;
}

/* estilos nav */
.navbar-brand {
    color: brown;
}

.btn-outline-success {
    border: 1px solid #cb7219;
    color: #cb7219;
}

.btn-outline-success:hover {
    background-color: #ff9b37;
    color: white;
    border: 1px solid #cb7219;
}

.my-container {
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;         
    flex-wrap: wrap;        
    gap: 1vw;            
    justify-content: center; 
}

.card-img-top {
    width: auto;
    height: 286px;
}

.bodyIndex {
    overflow: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 8vw; /* Espacio entre las columnas */
    padding: 2px;
    background-image: url(../assets/images/backgroundFooter.png);
    background-size: cover; 
    height: 20vw;
    background-repeat: no-repeat; 
    color: white; /* Color de texto */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    padding: 8vw 0 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlefooterppal {
    margin-top: 0;
    font-size: 1.2em;
}

.ulFooter {
    list-style: none;
    padding: 0; 
}

/* boton de cada card */
.btn-primary {
    background-color: #ffb03a;
    border: 1px solid #cb7219;
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: #e4811f;
    border: 1px solid #e4811f;
}

.product-card {
    margin: 10px;
}

.card {
    width: 18rem;
    margin: 10px;
    border: 1px solid #ddd;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}
