/* Estilos Generales */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Fondo principal */
body {
    background-color: #fb9529;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem;
}

/* Sección de Usuario y Productos */
#user-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Columna de productos */
.col-md-7 {
    background-color: #fff; /* Fondo blanco para la columna de productos */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 70vh; /* Fijar altura para los productos */
}

/* Productos - Color de fondo personalizado */
.product-item {
    background-color: #f6632e; /* color para los productos */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white; /* Color texto*/
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Títulos y Descripción del Producto */
.product-item h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 14px;
    color: #f1f1f1;
}

/* Precio */
.price {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

/* Formularios de agregar producto */
input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ff9b37;
    font-size: 14px;
    color: #cb7219;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #ff9b37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.button:hover {
    background-color: #d87f27;
}

/* Columna derecha (Usuario) */
.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-icon img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ff9b37;
    margin-bottom: 1rem;
}

/* Títulos de texto */
h3 {
    color: #ff9b37;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    #user-section {
        flex-direction: column;
        align-items: center;
    }

    .col-md-7, .col-md-4 {
        width: 100%;
    }
}
